#Q1  What are data structures, and why are they important?
--> Data structures are specialized formats for organizing, storing, and accessing collections of data.They are used for storing, manageing and maupulating the data.
________________________________________________________________________________
#Q2  Explain the difference between mutable and immutable data types with examples?
--> In mutable data types we can manipulate the data using some functions and in immutable data types we can not change or manipulate the data. for example list[ ] is mutable data types and tuple( ) is immutable data types.
________________________________________________________________________________
#Q3  What are the main differences between lists and tuples in Python?
--> lists are mutable data types in python and tuples are immutable data types in python. Lists are stored in square bracktes [ ] and tuple sare stored in curve bracktes ( ). both can store homogeneus data types.
________________________________________________________________________________
#Q4  Describe how dictionaries store data ?
--> dictionaries stores data in curley brackets and in key value pairs.
for example = dict = {"key":"value"}
________________________________________________________________________________
#Q5  Why might you use a set instead of a list in Python?
--> when we want only unique items that time we can use sets instead of list.
stes can perform multiple operations like union , intersection, differnce.
________________________________________________________________________________
#Q6  What is a string in Python, and how is it different from a list?
--> In python string is data structure or data type. It is different from list beacuse it is immutable and and stores only string data types.
________________________________________________________________________________
#Q7  How do tuples ensure data integrity in Python?
--> Tuples ensure data integrity in Python mainly through immutability.
________________________________________________________________________________
#Q8  What is a hash table, and how does it relate to dictionaries in Python?
--> A hash table is a data structure that stores key-value pairs, and allows for fast access, insertion, and deletion.In Python, the dict type is implemented using a hash table.
________________________________________________________________________________
#Q9  Can lists contain different data types in Python?
--> yes list can contain different data types in python.
________________________________________________________________________________
#Q10  Explain why strings are immutable in Python?
--> If strings could be changed, it might lead to bugs in code that shares the same string across different variables.Immutability ensures that once a string is created, it stays the same.
________________________________________________________________________________
#Q11  What advantages do dictionaries offer over lists for certain tasks?
-->Dictionaries offer faster key-based lookups, use meaningful keys instead of numeric indexes, and better organize related data compared to lists.
________________________________________________________________________________
#Q12  Describe a scenario where using a tuple would be preferable over a list.
--> When there is data that wont might be change then we us tuples to store that data. data like your adhar number , employee id etc.
________________________________________________________________________________
#Q13  How do sets handle duplicate values in Python?
--> sets automatically remove duplicate values. When you add elements to a set, only unique values are stored.
________________________________________________________________________________
#Q14  How does the “in” keyword work differently for lists and dictionaries?
--> In list 'in' operator checks the value is exist in list or not,and in dictionary 'in' operator checks the key is exist in dict or not.
________________________________________________________________________________
#Q15  Can you modify the elements of a tuple? Explain why or why not?
--> no we can not modify the elements of a tuple because tuples are immutable.
________________________________________________________________________________
#Q16  What is a nested dictionary, and give an example of its use case?
--> A nested dictionary is a another dictionary that conatains another dictionary as its values. ested dictionaries are useful when you want to store complex structured information.
________________________________________________________________________________
#Q17  Describe the time complexity of accessing elements in a dictionary.
--> Accessing an element in a Python dictionary by key has O(1) average time complexity because dictionaries use hash tables for direct lookup.
________________________________________________________________________________
#Q18   In what situations are lists preferred over dictionaries?
--> Lists are preferred over dictionaries when you need ordered collections, allow duplicate values, or primarily access elements by their position rather than by a key.
________________________________________________________________________________
#Q19  Why are dictionaries considered unordered, and how does that affect data retrieval?
--> Dictionaries are considered unordered because they dont maintain elements in the order they were added. This affects data retrieval in that you cannot rely on key order and should always access values by key rather than by position.
________________________________________________________________________________
#Q20  Explain the difference between a list and a dictionary in terms of data retrieval.
--> In list data is retrieved by index and in dictionary data is retrieved by the key.
________________________________________________________________________________

In [136]:
#practical questions >>>

#Q1 Write a code to create a string with your name and print it

name = "omkar"
print(f"my name is {name}")
type(name)

my name is omkar

str

In [137]:
#Q2 Write a code to find the length of the string "Hello World"
s = "hello world"
len(s)

11

In [138]:
#Q3 Write a code to slice the first 3 characters from the string "Python Programming
p = "python programing"
p[0:3]

'pyt'

In [139]:
#Q4 Write a code to convert the string "hello" to uppercase
h = "hello"
h.upper()

'HELLO'

In [140]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "i like apple"
b = a.replace("apple", "orange")
print(b)

i like orange

In [141]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it
my_list =[1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [142]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1,2,3,4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [143]:
#Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1,2,3,4,5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [144]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ["a","b","c","d"]
my_list[1]

'b'

In [145]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50].
my_list =[10,20,30,40,50]
my_list[::-1]

[50, 40, 30, 20, 10]

In [146]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

In [147]:
#Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ("red","green","blue","yellow")
t[1:]

('green', 'blue', 'yellow')

In [148]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t =  (10, 20, 5, 15)
min(t)

5

In [149]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ("dog","cat","rabbit")
t.index("cat")

1

In [150]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("mango","orange","banana")
print("kiwi" in fruits)

False

In [151]:
#Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s ={'a','b','c'}
print(s)
type(s)

{'b', 'a', 'c'}

set

In [152]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

In [153]:
#Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1 ={1,2,3,4,}
set1.remove(4)
set1

{1, 2, 3}

In [154]:
#Q19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 ={1,2,3}
set2 ={3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [155]:
#Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set1 & set2

{2, 3}

In [156]:
#Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d= {"name":"omkar","age":21,"city":"nashik"}
print(d)
type(d)

{'name': 'omkar', 'age': 21, 'city': 'nashik'}

dict

In [157]:
#Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d= {'name': 'John', 'age': 25}
d["country"]="usa"
d

{'name': 'John', 'age': 25, 'country': 'usa'}

In [158]:
#Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={'name': 'Alice', 'age': 30}
d["name"]

'Alice'

In [159]:
#Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
d

{'name': 'Bob', 'city': 'New York'}

In [160]:
#Q25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
"city" in d

True

In [161]:
#Q26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list=[1,2,3,4]
my_tuple=(1,2,3,4)
my_dict={"name":"omkar","age":21,"course":"data analytics"}
print("list=",my_list)
print("tuple=",my_tuple)
print("dictionary=",my_dict)

list= [1, 2, 3, 4]
tuple= (1, 2, 3, 4)
dictionary= {'name': 'omkar', 'age': 21, 'course': 'data analytics'}

In [162]:
#Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
numbers = [random.randint(1, 100) for i in range(5)]
numbers.sort()
print(numbers)

[15, 17, 21, 63, 89]

In [163]:
#Q28 Write a code to create a list with strings and print the element at the third index.
my_list = ["omkar","pranav","makrand","vedant"]
my_list[3]

'vedant'

In [164]:
#Q29 Write a code to combine two dictionaries into one and print the result.
dict1={"name":"omkar","age":21,"city":"nashik"}
dict2={"course":"data analytics","subject":"python"}
dict1.update (dict2)
dict1

{'name': 'omkar',
 'age': 21,
 'city': 'nashik',
 'course': 'data analytics',
 'subject': 'python'}

In [165]:
#Q30 Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}